.firework {
  position: relative;
  opacity: 0;
  animation: launch 3s;
}

@keyframes launch {
  0% {
    opacity: 0;
    top: 25px;
  }
  5% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 180px;
  }
}
