body {
  background-color: #fff;
  font-family: sans-serif;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}
content {
  display: flex;
  align-content: stretch;
  height: 600px;
  width: 100%;
}
#blockly-div {
  flex-grow: 3;
  height: 600px;
}
#cookie-clicker {
  flex-grow: 2;
  padding: 120px 0px;
  text-align: center;
}
#cookie-clicker img {
  margin: 20px;
  height: 300px;
}
#cookie-clicker img[src=''] {
  display: none;
}

aside {
  display: flex;
}

#achievements {
  width: 200px;
}

  #achievements ul {
    -webkit-margin-before: 0px;
    -webkit-padding-start: 0px;
    list-style: none;
  }
  #achievements li {
    cursor: pointer;
    padding: 4px;
    background-color: lightgrey;
    border-bottom: 1px solid grey;
  }
  #achievements li.selected,
  #achievements li:hover {
    background-color: #eee;
  }
  #achievements li.completed {
    background-color: #aaaadd;
  }
  #achievements li.selected.completed,
  #achievements li:hover.completed {
    background-color: #ccccee;
  }
  #achievements li.complete {
    background-color: #aaddaa;
  }
  #achievements li.selected.complete,
  #achievements li:hover.complete {
    background-color: #cceecc;
  }

#achievement {
  width: 100%;
  padding: 4px;
}

  #achievement #marks:not(:empty) {
    -webkit-margin-before: 0px;
    -webkit-padding-start: 0px;
    list-style: none;
    padding: 4px;
    background-color: #eee;
  }

#cookie-counter {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 150px;
  height: 40px;
  line-height: 0px;
  background: lightgrey;
  border-radius: 40px;
}
#cookie-counter img {
  height: 32px;
  margin: 4px;
}
#cookie-count {
  vertical-align: top;
  position: relative;
  float: right;
  top: 22px;
  margin-right: 6px;
  font-size: 20px;
}

.passed-indicator {
  color: #3dae3b;
}
.failed-indicator {
  color: #fa1528;
}
