body {
  width: 100vw;
  height: 100vh;

  background-color: #fff;
  font-family: sans-serif;
}

/*
  Layout
*/

main {
  height: calc(100vh - 35px);
  display: flex;
  flex-direction: row;
}
  nav {
    height: 35px;
    width: 100%;
  }

  aside {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 360px;
  }
  #cookie-clicker {
    margin: 10px;
    flex-shrink: 0;
  }
  #cookie-clicker-controls {
  }
  content {
    display: flex;
    flex-direction: column;
    flex: 3;
    max-width: calc(100% - 200px);
  }
    section {
      display: flex;
      flex-direction: row;
      max-height: 150px;
    }
      #goal {
        width: calc(100% - 200px);
        margin: 10px;
      }
      #cookie-hud {
        width: 200px;
        margin: 10px;
      }
        #animated-counter {
          margin-bottom: 10px;
        }
    #blockly-div {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-right: 10px;
      margin-bottom: 10px;
    }
      #blockly-div .injectionDiv {
        flex-grow: 1;
      }


/*
  Style etc
*/

nav {
  text-align: center;
}
  nav #course-nav-tray,
  nav #course-nav-tray-container {
    width: auto;
    height: 35px;
  }
  nav #course-nav-tray .slide,
  nav #course-nav-tray .slide-group,
  nav #course-nav-tray .problem {
    display: inline-block;
    width: auto;
  }
  nav #course-nav-tray .slide-title {
    display: none;
  }
  nav #course-nav-tray .slide .current,
  nav #course-nav-tray .slide .problem:hover {
    background: initial !important;
  }
  nav #course-nav-tray .slide .slide-jump-pip {
    position: initial;
  }
  nav #course-nav-tray .slide .current .slide-jump-pip,
  nav #course-nav-tray .slide .problem:hover .slide-jump-pip {
    transform: scale(1.8) rotate(45deg);
  }
  nav #course-nav-tray .slide-group:after {
    display: none;
    width: none;
    height: none;
  }

  #course-nav-tray {
    background-color: #f0f0f0;
  }
  #course-nav-tray-container {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  #course-nav-tray .slide  .solved:not(.passed) .slide-jump-pip {
    background-color: #1b79bf;
    border-color: #165f96;
  }
    #course-nav-tray .slide > span {
      padding-left: 24px;
      margin-left: 10px;
    }

    .result-indicator {
      display: inline-block;
      float: left;
      margin-top: 6px;
      margin-right: 6px;
    }

    .passed-indicator {
      color: #3dae3b;
    }
    .failed-indicator {
      color: grey;
    }

#blockly-div {
}
  #blockly-div .blocklySvg {
    background: none;
    z-index: 6;
  }

#blockly-hints {
  position: absolute;
  z-index: 5;
  pointer-events: none;
}
  .blockly-hint {
    position: absolute;
    width: 300px;
    margin-left: 5px;
    padding-left: 10px;
    background: #fcea9a;
    color: #534402;
  }

  .blockly-hint em {
    font-weight: bold;
    font-style: normal;
    color: black;
  }

#cookie-clicker {
  height: 420px;
  text-align: center;
  border: 1px solid grey;
}
  #cookie-clicker h1 {
    height: 50px;
    margin-bottom: 0px;
  }
  #cookie-clicker img {
    margin: 0px 20px;
    height: 300px;
  }
  #cookie-clicker img[src=''] {
    display: none;
  }

#cookie-clicker-controls {
  text-align: center;
  margin: -55px 10px 20px 10px;
}
  #reset {
    background-color: #1b79bf;
  }
  #reset:hover {
    background-color: #2891e0;
  }


#interaction-check {
  height: max-content;
  margin: 0px 10px;
  padding: 1px 10px;
  background: #fcea9a;
  color: #534402;
  border-radius: 10px;
}

#goal {
  overflow: auto;
}
  #goal h2 {
    margin-top: 10px;
  }
  #goal p {
    margin-bottom: 0px;
  }

#animated-counter {
  height: 40px;
  margin-top: 10px;
  margin-right: 20px;
  background: lightgrey;
  border-radius: 40px;
}
  #animated-counter img {
    height: 32px;
    margin: 4px;
  }
  #animated-counter span {
    float: right;
    margin-top: 8px;
    margin-right: 8px;
    font-size: 20px;
  }

#buy-hint {
  margin-right: 20px;
}
  #hints.on {
    background-color: #fb4251;
  }
  #hints.on:hover {
    background-color: #fc6f7a;
  }
    #hints img {
      margin-top: -2px;
      height: 22px;
    }

.pointer {
  z-index: 70;
  pointer-events: none;
  width: 50px;
  height: 50px;
  background-image: url(../images/pointer.svg);
  background-size: cover;
  background-position: center;
}

button {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  display: inline-block;
  min-width: 40px;
  padding: 7px 8px 5px 5px;
  border: none;
  border-radius: 10px;
  outline: 0 !important;
  color: white;
  text-decoration: none !important
}

  button .icon {
    margin: 0px 5px;
  }

#cookie-rewards,
#fullscreen {
  z-index: 80;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

#cookie-rewards {
  text-align: center;
  background: rgba(0,0,0, 0.7);
}
  #cookie-rewards h1,
  #cookie-rewards h2,
  #cookie-rewards h3 {
    color: white;
  }

  #cookie-rewards .reward-cookie {
    position: absolute;
    cursor: pointer;
    background-image: url('../images/mini-cookie-full.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  #cookie-rewards ul {
    position: absolute;
    left: 10px;
    top: 10px;
    list-style: none;
    -webkit-margin-before: 0px;
    -webkit-padding-start: 0px;
    border-radius: 100px;
  }

  #cookie-rewards li > span {
    display: inline-block;
    margin: 10px;
    padding: 15px 20px;
    border-radius: 40px;
    background: white;
  }

  #cookie-rewards .cookies {
    background-image: url('../images/mini-cookie-full.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 60px;
  }

  #cookie-rewards button.highlighted {
    font-size: 20px;
  }
  #cookie-rewards button {
    background-color: #1b79bf;
  }
  #cookie-rewards button:hover {
    background-color: #2891e0;
  }
    #cookie-rewards button img {
      margin-top: -2px;
      height: 14px;
    }
    #cookie-rewards button.highlighted img {
      margin-top: -4px;
      height: 28px;
    }

#next-goal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 110;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}
  #next-goal h1 {
    margin: 40px 0px;
    text-align: center;
    color: white;
  }

  #next-goals {
    width: 600px;
    margin: auto;
    list-style: none;
    -webkit-padding-start: 0px;
  }
    #next-goals h2 {
      margin-top: 0px;
    }
    #next-goals .reward {
      float: right;
    }
      #next-goals .reward img {
        height: 40px;
        margin-top: -4px;
      }
    #next-goals > li {
      cursor: pointer;
      margin-bottom: 20px;
      padding: 15px;

      background: #eee;
      color: #333;
    }
    #next-goals > li:hover {
      background: #fff;
    }

      #goal-blocks {
        list-style: none;
        -webkit-padding-start: 0px;
        padding-top: 10px;
        border-top: 1px solid grey;
      }
        #goal-blocks > li {
          display: inline;
          margin: 5px;
        }

#completion-message {
  z-index: 120;
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}
  #completion-message * {
    color: white;
  }

#firework-overlay {
  z-index: 110;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  pointer-events: none;
}

.fade-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0,0,0, 0.7);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}
