body {
  background-color: #fff;
  font-family: sans-serif;
}

content {
  display: flex;
  align-content: stretch;
  width: 100%;
  height: 600px;
}
  #program {
    width: 100%;
  }
  aside {
    width: 350px;
    margin: 10px;
  }

#blockly-div {
  display: block;
  position: relative;
  height: calc(100vh - 200px);
  width: calc(100% - 10px);
  flex-grow: 1;
}

#cookie-clicker {
  width: 350px;
  height: 450px;
  margin-bottom: 10px;
  flex-shrink: 0;
  flex-grow: 0;
  text-align: center;
  border: 1px solid grey;
}
#cookie-clicker h1 {
  height: 50px;
}
#cookie-clicker img {
  margin: 20px;
  height: 300px;
}
#cookie-clicker img[src=''] {
  display: none;
}

#achievement {
  width: 100%;
  padding: 4px;
}

#marks:not(:empty) {
  -webkit-margin-before: 0px;
  -webkit-padding-start: 0px;
  list-style: none;
  padding: 4px;
  background-color: #eee;
}

  #marks .result-text h3 {
    font-size: 18px;
    line-height: 1.6;
    margin: 0px;
  }

  #marks .result-text div {
    margin-top: 10px;
  }

#cookie-counter {
  height: 40px;
  margin: 10px;
  background: lightgrey;
  border-radius: 40px;
}
#cookie-counter img {
  height: 32px;
  margin: 4px;
}
#cookie-count {
  float: right;
  margin-top: 8px;
  margin-right: 8px;
  font-size: 20px;
}

#cookie-clicker-controls {
  text-align: center;
  margin: 10px;
}

#reset {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  display: inline-block;
  min-width: 40px;
  padding: 7px 8px 5px 5px;
  border: none;
  border-radius: 10px;
  outline: 0 !important;
  color: white;
  background-color: #1b79bf;
  text-decoration: none !important
}

  #reset .icon {
    margin: 0px 5px;
  }

  #reset:hover {
    background-color: #2891e0;
  }

nav {
  text-align: center;
}
  nav #course-nav-tray,
  nav #course-nav-tray-container {
    width: auto;
    height: 35px;
  }
  nav #course-nav-tray .slide,
  nav #course-nav-tray .slide-group,
  nav #course-nav-tray .problem {
    display: inline-block;
    width: auto;
  }
  nav #course-nav-tray .slide-title {
    display: none;
  }
  nav #course-nav-tray .slide .current,
  nav #course-nav-tray .slide .problem:hover {
    background: initial !important;
  }
  nav #course-nav-tray .slide .slide-jump-pip {
    position: initial;
  }
  nav #course-nav-tray .slide .current .slide-jump-pip,
  nav #course-nav-tray .slide .problem:hover .slide-jump-pip {
    transform: scale(1.8) rotate(45deg);
  }
  nav #course-nav-tray .slide-group:after {
    display: none;
    width: none;
    height: none;
  }

#course-nav-tray {
  background-color: #f0f0f0;
}
#course-nav-tray-container {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
#course-nav-tray .slide  .solved:not(.passed) .slide-jump-pip {
  background-color: #1b79bf;
  border-color: #165f96;
}

.result-indicator {
  display: inline-block;
  float: left;
  margin-top: 6px;
  margin-right: 6px;
}

.passed-indicator {
  color: #3dae3b;
}
.failed-indicator {
  color: grey;
}

.notification {
  color: #fa1528;
}
